@font-face {
    font-family: 'HM';
    src: url('/fonts/HelpMe.ttf') format('truetype');
}

/*
    Overall page adjustment.
*/
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #0b0f18;
    height: 100%;
    margin: 0;
}

/*
    Search bar.
*/
.search {
    background-color: #181b21;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    color: white;
    height: 30px;
    left: calc(50% - 40px);
    padding-left: 15px;
    position: fixed;
    text-decoration: none;
    top: 15px;
    width: 160px;
    outline: none;
}

.clearInput {
    background-color: #181b21;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 15px;
    width: 30px;
    height: 30px;
    position: fixed;
    left: calc(100% - 80px);
    top: 15px;
}

/*
    Search icon.
*/
#icon1 {
    color: white;
    height: 40px;
    width: 40px;
    left: calc(100% - 40px);
    position: fixed;
    top: 10px;
    background-image: url('/img/icon.png');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    opacity: 0.6;
}

/*
    Page title.
*/
.title {
    left: 18px;
    position: fixed;
    top: 16px;
    letter-spacing: 6px;
    font-family: HM;
}
h2 {
    background-color: #0f131b;
    color: white;
    font-size: 25px;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 5;
}

/*
    Title of each card.
*/
.h {
    color: white;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

/*
    Reset all link styles.
*/
a {
    color: black;
    text-decoration: none;
}

/*
    Merge all the cards.
*/
.contain {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contain_btns {
    width: 350px;
    height: 150px;
    display: block;
}

.labelBox {
    color: white;
    display: inline-block;
    font-family: Monospace;
}

.element1 {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-left: 20px;
}

/*
    Synopsis
*/
p {
    color: white;
    font-family: Arial;
    margin: 10px;
    text-align: justify;
}
