/*
    CARDS COMPONENT.
*/

.list {
    align-items: center;
    background-color: #6d6d6d69;
    border-radius: 30px;
    margin-right: 30px;
    box-shadow: 0 10px 10px 0 black;
    display: flex;
    flex: 0 0 auto;
    scroll-snap-align: start;
    flex-direction: column;
    height: 520px;
    margin-top: 50px;
    transition: all 0.2s;
    width: 350px;
    
}

.list:hover {
    transform: translateY(-15px);
}